node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

## Panda
styled-system
styled-system-studio

# Database
src/lib/server/data/*.json
!src/lib/server/data/db_seed.json

# User Uploads
static/uploads/*
!static/uploads/**/.gitkeep